@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fraunces:opsz,wght@9..144,700&family=Montserrat:wght@500;700&display=swap');

body {
    
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Montserrat', sans-serif;
    height: 100vh;
    overflow: hidden;
}

.background {
    width: 1440px;
    height: 800px;
    background-color: hsl(30, 38%, 92%);
    display: flex;
}

.container {
    background-color: white;
    width: 600px;
    height: 450px;
    margin: auto;
    border-radius: 10px;
    display: flex;
}

.img {
    background: url("./images/image-product-desktop.jpg") center/cover;
    border-radius: 10px 0 0 10px;
    width: 50%;
}

.contain {
    width: 50%;
}

h1 {
    font-family: 'Fraunces', serif;
    font-size: 2rem;
    padding: 0px 30px;
    margin-top: 20px;
}

h2 {
    font-size: 0.9rem;
    text-transform: uppercase;
    letter-spacing: 3px;
    color: hsl(228, 12%, 48%);
    font-weight: 500;
    padding: 0px 30px;
    margin-top: 30px;
}

p {
    font-size: 14px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 100;
    color: hsl(228, 12%, 48%);
    padding: 0px 30px;
}

.flexBox {
    display: flex;
    align-items: center;
    margin: 30px 0px;
    padding: 0px 30px;
}

.prix {
    color: hsl(158, 36%, 37%);
    width: 60%;
    font-family: 'Fraunces', serif;
    font-size: 2rem;
}

.prixBarre {
    text-decoration: line-through;
    width: 40%;
}

.btn {
    margin: 0px 30px;
    background-color: hsl(158, 36%, 37%);
    color: white;
    border-radius: 10px;
    height: 50px;
    width: 80%;
    border: none;
    cursor: pointer;
    font-size: 16px;
    text-align: center;
    font-family: 'Montserrat';
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn:hover {
    background-color: #1a4031;
}

ion-icon {
    font-size: 20px;
    margin-right: 10px;
}

@media only screen and (max-width: 375px) {

    h1 {
        margin-top: 10px;
    }

    h2 {
        margin-top: 20px;
        margin-bottom: 0px;
    }

    p {
        margin-top: -10px;
        margin-bottom: 0px;
    }

    .flexBox {
        margin-top: 20px;
        margin-bottom: 20px;
    }

   .container {
    width: 340px;
    height: 600px;
     display: grid;
     grid-template-columns: 100%;
     grid-template-rows: 40% 60%;
     
   }

   .contain {
    width: 100%;
   }

   .img {
    background: url("./images/image-product-mobile.jpg") center/cover;
    border-radius: 10px 10px 0px 0px;
    width: 100%;
   }


}




